{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
</head>

<body>
    <h1>Sobre nosostros:</h1>
<p>Nuestro software de Inteligencia de Marca Empleadora es una herramienta innovadora diseñada para ayudar a las empresas a construir y mantener una marca empleadora sólida. Este software recopila información de una variedad de sitios web y plataformas en línea para proporcionar una visión integral de cómo se percibe su empresa tanto interna como externamente.</p>

<p>El software se basa en la idea de la marca empleadora, que es la imagen que una empresa proyecta a sus empleados actuales y futuros, así como a la sociedad en general. Esta imagen se construye a partir de la Propuesta de Valor hacia el Empleado (PVE), que incluye todos los beneficios tangibles e intangibles que la empresa ofrece a sus empleados.</p>

<p>Nuestro software utiliza una herramienta llamada webscraping para analizar datos de diversas fuentes, incluyendo sitios de revisión de empleados, redes sociales y foros de discusión; Tales como facebook,Instagram,X y computrabajo con la visión de aumentar las fuentes de información. A través de este análisis, el software puede identificar las fortalezas y debilidades de su marca empleadora, proporcionando información valiosa que puede usar para mejorar su PVE y, en última instancia, atraer y retener a los mejores talentos.</p>

<p>Además, nuestro software ayuda a las empresas a lograr los dos objetivos principales de la marca empleadora: la retención y fidelización de talento, y la atracción de talento. Al proporcionar una visión clara de cómo se percibe su empresa, nuestro software puede ayudarle a crear estrategias efectivas para mejorar la experiencia de los empleados y atraer a los mejores candidatos.</p>

<p>En resumen, nuestro Software de Inteligencia de Marca Empleadora es una herramienta esencial para cualquier empresa que quiera construir una marca empleadora fuerte y atractiva. Con nuestra ayuda, puede asegurarse de que su empresa sea vista como un lugar excelente para trabajar, tanto por sus empleados actuales como por los futuros candidatos. ¡Es hora de llevar su marca empleadora al siguiente nivel!</p>
</body>